<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-4"><h2>User List</h2></div>
        <div class="col-sm-4">
          <div class="input-group mb-3">
            <input 
            type="text"
            class="form-control"
            placeholder="Search by username"
            [(ngModel)]="username"/>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button"(click)="searchUser()">
                Search
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-info add-new">
            <i class="fa fa-plus"></i> Add User
          </button>
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>UserName</th>
          <th>Email</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users; let i = index">
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <a class="add" title="Add" data-toggle="tooltip"
              ><i class="material-icons"></i></a
            >
            <a class="edit" title="Edit" data-toggle="tooltip"
              ><i class="material-icons"></i></a
            >
            <a class="delete" title="Delete" data-toggle="tooltip"
              ><i class="material-icons"></i></a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
